@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", sans-serif;
}

.font-lobster{
  font-family: 'Lobster', 'Poppins', 'Roboto', sans-serif !important;
}

html,
body {
  margin: 0;
}
